@model List<BlogModel>
@{
    ViewData["Title"] = "Blog";
    //var imgPath = "~/img/";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Posts</h2>
            @foreach (var item in Model)
            {
                <h3>@item.title</h3>
                <img src="~/img/@item.img" alt="@item.title" />
                <p>@item.preview</p>
                <p>@item.author</p>
                <a class="btn btn-success" asp-controller="Blog" asp-action="Post" asp-route-id="@item.id">Read more</a>
                <a class="btn btn-warning" asp-controller="Blog" asp-action="Edit" asp-route-id="@item.id">Edit</a>
                <a class="btn btn-danger" asp-controller="Blog" asp-action="Post" asp-route-id="@item.id">Delete</a>
            }
        </div>
    </div>
</div>

