<div class="sub-title">
    <a href="https://localhost:44331/Blog/Blog" title="Go to Home Page"><h2>Back Home</h2></a>
    <a href="#comment" class="smoth-scroll"><i class="icon-bubbles"></i></a>
</div>


<div class="col-md-12 content-page">
    <div class="col-md-12 blog-post">


        <!-- Post Headline Start -->
        <div class="post-title">
            <h1>@Model.title</h1>
        </div>
        <!-- Post Headline End -->
        <!-- Post Detail Start -->
        <div class="post-info">
            <span>November 23, 2016 / by <a href="#" target="_blank">@Model.author</a></span>
        </div>
        <!-- Post Detail End -->


        <p>@Model.fullPost</p>

        <!-- Post Image Start -->
        <div class="post-image margin-top-40 margin-bottom-40">
            <img src="~/img/blog/@Model.img" alt="">
            <p>Image source from <a href="#" target="_blank">Link</a></p>
        </div>
        <!-- Post Image End -->


        <p>@Model.fullPost</p>

        <!-- Post Blockquote Start -->
        <div class="post-quote margin-top-40 margin-bottom-40">
            <blockquote>Design is not just what is look like, Design is how it's work.</blockquote>
        </div>
        <!-- Post Blockquote End -->

        <p>@Model.fullPost</p>

        <div class="post-title">
            <h2>How to implement?</h2>
        </div>

        <p>@Model.fullPost</p>

    </div>
</div>